form{
    margin-top: 10%;
    width: 50%;
}

img{
    border-radius: 6px;
    padding: 10px 20px;
    width: 90%;
    height: 350px;
    object-fit: cover;
}

@media screen and (max-width:660px) {
    from{
        width: 100%;
    }
}