<div class="container mb-5 mt-5">
    <h1>Contact</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6  mt-2 mb-2">
                <input type="text" style="width: 90%;"  placeholder="Enter First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text"  style="width: 90%;"   placeholder="Enter last Name">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text"  style="width: 95%;"  placeholder="Enter Email Addres">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" style="width: 95%;"  placeholder="Enter Mobile">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark"> Sumbit </button>
            </div>
        </div>
    </form>
</div>