<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit distinctio id temporibus reiciendis laudantium consequuntur, molestiae optio, quibusdam autem quo, cumque dignissimos porro itaque odio aperiam repudiandae eos necessitatibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab nobis officiis deleniti aliquam, ipsa odit iure, itaque non distinctio beatae quibusdam hic consequatur libero laudantium molestiae inventore voluptatibus consectetur!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti ducimus reprehenderit impedit molestias quasi. Corporis, natus similique officia inventore nobis doloremque architecto aut assumenda, officiis repudiandae impedit veritatis quibusdam quam.
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, maxime voluptatibus error minima ipsa esse at saepe pariatur sint eum, eos, adipisci illo sit consequatur id praesentium ex sapiente quaerat?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti similique neque voluptas in animi dolor doloribus. Sint aut quasi iure labore dignissimos, incidunt reiciendis eveniet nostrum fugit, magni, necessitatibus a.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid numquam ea omnis beatae est, suscipit incidunt fuga autem hic quasi ad atque quod, quos inventore. Fugiat, doloremque porro? Officia, tempore?
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia neque ipsa sapiente nulla aspernatur. Fugit, placeat tempora eveniet quisquam at nulla ullam molestias alias. Minima cumque facilis corporis quia alias!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam mollitia praesentium voluptates. Cum corrupti neque pariatur! Rerum ullam ipsa suscipit enim. Explicabo dolorem suscipit sit nisi placeat, minus ad laborum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, eius dolores? Vel quod error nesciunt nemo quo ratione voluptas sed! Doloribus, commodi vel consequuntur doloremque aut vitae! Neque, similique ut!
    </p>
</div>